:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: #000;
  background-color: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
